@import '../../../styles/mixins.scss';

.select {
  @extend %field;
}

.selectWrapper {
  @extend %field-wrapper;

  select {
    // -moz-appearance: none; /* Firefox */
    // -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
  }
}

.errorBorder {
  border-color: $color-bruschetta-tomato;
}

.error {
  @include font($mont-light, 12px);
  margin-top: 4px;
  color: $color-bruschetta-tomato;
}
