@import '../../../styles/variables.scss';

.searchInModal {
  margin-top: 50px;
  padding: 0;
  background-color: $color-paradise-green;
  border-radius: 50px;

  input {
    width: 100%;
    padding: 8px 20px;
    font-size: 16px;
    background-color: transparent;
    border-radius: 50px;
    border: none;

    &::placeholder {
      color: $color-black;
    }
  }
}

.note {
  margin-top: 24px;
  text-align: center;
}