@import '../../../styles/variables.scss';

.search,
.searchInModal {
  position: relative;
  padding: 8px 40px 8px 20px;
  color: $color-black;
  background-color: $color-paradise-green;
  border-radius: 50px;
  border: none;
  font-size: 12px;
  cursor: pointer;

  &::placeholder {
    color: $color-black;
  }
}

.searchIcon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.searchInModal {
  margin-top: 50px;
  padding: 0;

  input {
    width: 100%;
    padding: 8px 20px;
    font-size: 16px;
    background-color: transparent;
    border-radius: 50px;
    border: none;
  }
}
