@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/grid.scss';

.wrapper {
  @extend %main-container;
  margin: 40px auto;
  padding-bottom: 0;
  
  a {
    display: block;
    margin-bottom: 16px;
    font-size: 14px;
    text-align: right;
    text-decoration: none;
    color: $color-black-light;
  }
}

.name {
  text-align: right;
  margin-bottom: 24px;
}

.postsWrapper {

  ul {
    @include drawGrid(1);
    @extend .gap;

    @media screen and (min-width: 560px) {
      @include drawGrid(2);
    }

    @media screen and (min-width: 992px) {
      @include drawGrid(3);
    }
  }

  span {
    @include font($mont-light, 14px);
    display: inline-block;
    margin-bottom: 8px;
  }
}
