@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';


.wrapper {
  @extend %main-container;
  margin: 40px auto;

  a {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    text-align: right;
    text-decoration: none;
    color: $color-black-light;
  }
}

.name {
  text-align: right;
  margin-bottom: 16px;
}

.postsWrapper {
  margin-top: 32px;


  span {
    @include font($mont-light, 14px);
  }
}
