@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.post {
  @extend %main-container;
  color: $color-black-light;

  h1, h2 {
    text-align: center;
    margin: 24px 0;
  }

  h2 {
    @include font($mont-medium, 20px);
  }

}

.boldText {
  @include font($mont-bold, 20px);
  text-align: center;
}

.details {
  @include font($mont-light, 16px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
}

.oppeningHours {
  align-items: flex-start;
}

.hour {
  margin-bottom: 4px;

  &:first-child {
    margin-top: 16px;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 16px 16px;
}

.noDeleteButton {
  justify-content: center;
}
