@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

.post {
  @extend %main-container;
  color: $color-black-light;

  h1, h2 {
    text-align: center;
  }

  h1 {
    @include font($mont-bold, 20px);
    margin: 24px 0 35px;
  }

  h2 {
    @include font($mont-medium, 20px);
    margin-bottom: 24px;
  }

}

.details {
  @include font($mont-light, 16px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
}