@import '../../../styles/variables.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 24px;
  background-color: $color-emtiness;
}

.modalBody {
  height: 100%;
  padding-top: 18px;
  overflow: auto;
}

.modalHeader {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}
