@import '../../../styles/variables.scss';

.modalWrapper {
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  padding-top: 55px;

  @media screen and (min-width: 768px) {
    padding: 50px;
  }

  @media screen and (min-width: 992px) {
    padding: 100px;
  }
}

.modal {
  height: 100%;
  padding: 24px;
  background-color: $color-emtiness;
}

.modalBody {
  height: 100%;
  padding-top: 18px;
  overflow: auto;
}

.modalHeader {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}
