@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/grid.scss';

.search {
  position: relative;
  width: 100%;
  margin-right: 8px;

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  input {
    width: 100%;
    padding: 8px 20px;
    font-size: 16px;
    background-color: $color-misty-lawn;
    border-radius: 50px;
    border: none;

    &::placeholder {
      color: $color-black-light;
    }
  }
}

.clearButton {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
