@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/grid.scss';

.searchInModal {
  margin-top: 50px;
  padding: 0;
  background-color: $color-paradise-green;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 100%;
    padding: 8px 20px;
    font-size: 16px;
    background-color: transparent;
    border-radius: 50px;
    border: none;

    &::placeholder {
      color: $color-black;
    }
  }
}

.clearButton {
  position: absolute;
  right: 32px;
}

.note {
  margin-top: 24px;
  text-align: center;
}


.post {
  @include drawGrid(4);
  @extend .gap;
  padding-bottom: 20px;

  @media (max-width: 992px) {
    @include drawGrid(2);
  }
  
  @media (max-width: 560px) {
    @include drawGrid(1);
  }
}
