@import '../../styles/variables.scss';

.wrapper {
  padding: 0 33px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-white;
}

.title {
  margin: 50px 0;
  text-align: center;
  font-weight: 400;
}
.title span {
  display: block;
}

.welcome {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.cheap,
.weed {
  font-size: 36px;
  line-height: 24px;
}

.weed {
  margin-left: 17px;
}

.title span.green {
  display: inline;
  color: $color-paradise-green;
  font-weight: 700;
  font-size: 38px;
  line-height: 26px;
}

.subtitle {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 48px;
  font-size: 12px;
  line-height: 18px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 60px
}

.actions a {
  padding: 8px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 25px;
  border: $border-1-black-50;
  background: $color-paradise-green;
  margin-bottom: 27px;
}
