@import '../styles//reset.scss';
@import '../styles/fonts.scss';
@import '../styles/variables.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: $mont-medium;
  background-color: $color-emtiness;
}

.disableScroll {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

button {
  border: none;
  background-color: transparent;
}