@import '../styles//reset.scss';
@import '../styles/fonts.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: $ibm-plex-light;
}

button {
  border: none;
  background-color: transparent;
}