@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';
// @import '../../styles/mixins.scss';

.wrapper {
  @extend %main-container;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 34px;
}

.actions {
  margin-top: 34px;
  display: flex;
  justify-content: center;
}

.userName {
  @include font($mont-medium, 16px);
  margin-bottom: 24px;
}

.userLabel {
  @include font($mont-light, 12px);
  margin-bottom: 8px;
}
