@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';

.wrapper {
  @extend %main-container;
  max-width: 600px;
  margin: 0 auto;
}

.header {
  @extend %form-header;
}

.welcome {
  @include font($mont-medium, 16px);
  margin: 32px 0 24px;
  text-align: center;
}

.actionsWrapper {
  @extend %form-actions-wrapper;
}

.activeUser {
  font-size: 12px;
  text-align: center;
  margin-bottom: 24px;
}