@import '../../styles/variables.scss';

.wrapper {
  padding: 8px 0;
  overflow: auto;
}

.chip {
  display: inline-block;
  min-width: 100px;
  max-width: 350px;
  padding: 8px 20px;
  margin-right: 20px;
  background-color: $color-white;
  border: 1px solid $color-paradise-green;
  border-radius: 50px;
}

.chipContent {
  display: flex;
}

.chipValue {
  margin-right: 16px;
}