@import '../../styles/variables.scss';
@import '../../styles/grid.scss';
@import '../../styles/fonts.scss';
@import '../../styles/mixins.scss';

.post {
  width: 100%;
  border-radius: 4px;
  border: 1px solid $color-eagles-view;
  box-shadow: $shadow-box;
  overflow: hidden;
  color: $color-black-light;
}

.header {
  @include font($mont-bold, 16px);
  padding: 12px 16px 8px;
}

.price {
  @include font($mont-medium, 14px);
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  border-top: 1px solid rgba(217, 217, 217, 0.80);
  border-bottom: 1px solid rgba(217, 217, 217, 0.80);
}

.content {
  padding: 8px 16px 0;
}

.storeName,
.address {
  @include font($mont-medium, 14px)
}

.label {
  @include font($mont-light, 12px);
  margin-bottom: 8px;
}

.actions {
  padding: 0 4px;
  display: flex;
}
