@import '../../styles/variables.scss';
@import '../../styles/grid.scss';
@import '../../styles/fonts.scss';
@import '../../styles/mixins.scss';

.post {
  width: 100%;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid $color-paradise-green;
  box-shadow: $shadow-paradise-green;
  overflow: hidden;
}

.map {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, .1);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  > div {
    width: 100%;
    height: 100px;
  }
}

.label {
  display: inline-block;
  margin-bottom: 4px;
  color: $color-hunter-green;
  font-family: $ibm-plex-light;
  font-size: 12px;
  line-height: 14px;
  border-bottom: 1px solid $color-hunter-green;
}

.value {
  margin-bottom: 8px;
  font-family: $ibm-plex-medium;
  font-size: 16px;
  line-height: 18px
}

.content {
  @extend .grid;
  @extend .gap;
  padding: 4px 12px 12px;
}

.productInfo {
  @extend .start-1;
  @extend .end-8;
}

.productAddress {
  @extend .start-8;
  @extend .end-13;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  font-size: 16px;
  font-family: $ibm-plex-semi-bold;
  color: $color-paradise-green;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.link {
  @extend %link-button;
  align-self: self-start;
  font-size: 12px;
}
