@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.logo {
  @include font($hind-semi-bold, 24px);
  display: inline-flex;
  flex-direction: column;
  line-height: 16px;
  letter-spacing: -2px;
  span {
    color: $color-paradise-green;
  }

  a {
    text-decoration: none;
    color: $color-black-light;
  }
}

.weed {
  text-align: right;
}