@import '../../../styles/mixins.scss';

.wrapper {
  @extend %main-container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  // position: sticky;
  // top: 0;
  // z-index: 1000;
}

.title {
  visibility: hidden;
}
