@import '../../../styles/mixins.scss';
@import '../../../styles//variables.scss';
@import '../../../styles/fonts.scss';

.wrapper {
  padding: 16px 0;
  border-bottom: $border-1-orochimaru;
  box-shadow: $shadow-box;
  background-color: $color-white;
}

.header {
  @extend %main-container;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  visibility: hidden;
}

// .loginLink {
//   @include font($mont-medium, 14px);
//   color: $color-black-light;
//   text-decoration: none;
// }