@import './variables.scss';
@import './fonts.scss';

@mixin drawGrid($col) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
}

@mixin font($family, $size) {
  font-family: $family;
  font-size: $size;
  line-height: normal;
}

%main-container {
  max-width: 1024px;
  padding: 0 16px;
  margin: 0 auto;
}

%field {
  margin-bottom: 12px;

  label {
    @include font($mont-light, 14px);
    display: inline-block;
    margin-bottom: 8px;
  }
}

%field-wrapper {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid $color-orochimaru;
  background-color: $color-white;
  
  select,
  input {
    @include font($mont-medium, 16px);
    width: 100%;
    height: 35px;
    padding: 8px;
    color: $color-black-light;
    border: none;
    background-color: $color-white!important;
    border-radius: 10px;
  }
}

%form-wrapper {
  padding: 16px 32px;
}

%form-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
