@import './variables.scss';
@import './fonts.scss';

%main-container {
  max-width: 1024px;
  padding: 0 16px;
  margin: 0 auto;
}

%link-button {
  display: inline;
  background-color: $color-paradise-green;
  color: $color-black;
  font-family: $ibm-plex-medium;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 16px;
}
