@import './variables.scss';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 29px;
    text-align: center;
    margin: 0 10px;
    color: $color-black-light;
    cursor: pointer
  }

  li:not(.previous, .next) {
    border: 1px solid $color-black-light;
  }
}

.selected {
  color: $color-paradise-green!important;
  border: 1px solid $color-paradise-green!important;
}

.previous {
  margin-right: 10px;

  &.disabled {
    opacity: .5;
  }
}

.next {
  margin-left: 10px;

  &.disabled {
    opacity: .5;
  }
}