// COLORS
$color-white: #FFF;
$color-black: #000;

$color-black-light: #575656;

$color-eagles-view: #D4CACA;
$color-orochimaru: #D9D9D9;
$color-paradise-green: #A3EF97;
$color-misty-lawn: #E3FAE0;
$color-hunter-green: #023E08;
$color-bruschetta-tomato: #FF5F42;
$color-bright-zenith: #7180AC;
$color-emtiness: #F9FEFB;
$color-linderhof-garden: #259523;
$color-riverstone: #747976;
// $color-jet-fuel: #575656;

// BORDERS
$border-1-black-50: 1px solid rgba(0, 0, 0, 0.50);
$border-1-orochimaru: 1px solid $color-orochimaru;

// SHADOWS
$shadow-box: rgba($color-orochimaru, 0.3) 0px 10px 3px -6px,
  rgba($color-orochimaru, 0.3) 0px 1px 1px 0px,
  rgba($color-orochimaru, 0.12) 0px 1px 3px 0px;
$shadow-box-top: 0px -5px 6px -5px rgba($color-orochimaru, 1);


/* *
 * Z-index
 */
// List of core elements used in project
$list:
  basic,
  footer,
  modal,
  dialog,
  spinner,
  snackbar,
  special;

// Return z-index of element from list, return null if there is no element
@function z-index($list, $element) {

  $z-index: index($list, $element);

  @if $z-index {
    @return $z-index;
  }

  @return null;
}