@import '../../styles/mixins.scss';

.actionsWrapper {
  @extend %form-actions-wrapper;
}

.activeUser,
.statute {
  font-size: 12px;
  text-align: center;
}


.activeUser {
  margin-bottom: 16px;
}

.statute {
  padding-top: 8px;

  label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  input {
    margin-right: 5px;
  }

  a {
    display: inline-block;
    margin: 0 5px;
  }
}

.error {
  @include font($mont-light, 12px);
  margin-top: 4px;
  color: $color-bruschetta-tomato;
  text-align: left;
}
